@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

.CardBox{
    background-color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    border: medium solid lightgrey;
    border-radius: 10px 10px 10px 10px;
    font-family: 'Noto Sans KR', sans-serif;
    word-break: break-all;
}

.highlight{
    font-weight : bold; color:#FF0000;
}